


{{#if user}}
<div class="user">
  <h1 class="login_head">Books Blog</h1>
  <p class="welcom">Welcome  {{ user }}</p>
  <div class="user_button">
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-secondary">Log Out</button>
    </form>
    <button class="btn btn-secondary"><a href="/addPost">Add Post </a></button>
    <button type="submit" class="btn btn-secondary"><a href="/">Home </a></button>
  </div>
</div>
{{else}}
  <header>
    <h1 class="login_head">Books Blog</h1>
    <button type="submit" class="btn btn-secondary"><a href="/register">Register</a></button>
    <button type="submit" class="btn btn-secondary"><a href="/login">Login</a></button>
    <button type="submit" class="btn btn-secondary"><a href="/">Home </a></button>
  </header>
{{/if}}


<div class="posts">
  
  {{#if tag}}
  
    {{#each postsT}}
      
      <div class="post_card">
          
        {{#if image}}
          <img src="/images/{{image}}" class="img">
        {{else}}
          <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="" >
        {{/if}}
        <h2> {{title}}</h2>
        <p class="description" maxlength="10"> Description:{{description}}</p>
        <p>Autor:{{autor}}</p>
        <p>Date:{{date}}</p>
        <div >
          <button type="button" class="btn btn-secondary"><a href="/readPost?id={{id}}"> Read Post </a></button>
          <br>
          <span>Tag:
            {{#each tag}}
            <a href="/?tag={{this}}"> {{this}} </a> 
            {{/each}} 
          </span>
        </div>
        
      </div>
      
    {{/each}}

  {{else}}

      {{#each posts}}
      <div class="post_card">
          
        {{#if image}}
          <div class="imgBlock">
            <img src="/images/{{image}}"class="img">
          </div>
        {{else}}
          <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="">
        {{/if}}
        <h2> {{title}}</h2>
        <p class="description" maxlength="10" >Description:{{description}}</p>
        <p>Autor:{{autor}}</p>
        <p>Date:{{date}}</p>
        <div >
          <button type="button" class="btn btn-secondary"><a href="/readPost?id={{id}}"> Read Post </a></button>
          <br>
          <span>Tag:
            {{#each tag}}
            <a href="/?tag={{this}}"> {{this}} </a> 
            {{/each}} 
          </span>
        </div>
      </div>
      {{/each}}

  {{/if}}

</div> 

<div class="paginatContainer">
  {{#each pages}}
  <a href="/?page={{page}}"  id="navLink" class="pag_page"> {{page}}</a>
  {{/each}}
</div>