<h1>HOME</h1>
<p>Welcome  {{ user }}</p>


{{#if user}}
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>
  <a href="/addPost">Add Post</a>
{{else}}
  <header>
    <button type="submit">Reg</button>
    <button type="submit">LogIn</button>
  </header>
{{/if}}
<div class="posts">
  
  {{#each posts}}
    <div class="post_card">
        
      {{#if image}}
        <img src="/images/{{image}}" alt="">
      {{else}}
        <img src="https://via.placeholder.com/100x100/258DC8/E0F6FD" alt="">
      {{/if}}
      <h2> {{title}}</h2>
      <p>Description:{{description}}</p>
      <p>Autor:{{autor}}</p>
      <p>Date:{{date}}</p>
      <div >
        <button type="button" ><a href="/readPost?id={{id}}"> Read Post </a></button>
        <br>
        <small >Tag:{{tag}}</small>
      </div>
        
    </div>
  {{/each}}
  
</div> 