<div class="read_window">
  <h2> {{title}}</h2>
  {{#if image}}
            <img src="/images/{{image}}" alt="" width="400" height="400">
          {{else}}
            <img src="https://via.placeholder.com/400x400/258DC8/E0F6FD" alt="">
  {{/if}}

  <div class="read_text">
    <p>Description: {{description}}</p>
      
    <p>Autor: {{autor}}</p>
      
    <p>Date: {{date}}</p>
  </div> 
 
</div>
