
{{#if image}}
      <img src="/image/{{image}}" alt="">
    {{else}}
      <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="">
    {{/if}}
<h2> {{title}}</h2>
<br>
<p>Description: {{description}}</p>
<br>
<p>Autor: {{autor}}</p>
<br>
<p>Date: {{date}}</p>